In [1]:
import pandas as pd
import zipfile
import kaggle

In [4]:
kaggle.api.dataset_download_files('hmavrodiev/london-bike-sharing-dataset', 'datasets')

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset

In [9]:
zipfile_name = 'datasets\london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as zipf:
    zipf.extractall()

In [2]:
bikes = pd.read_csv('london_merged.csv')

In [3]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
bikes.shape

(17414, 10)

In [5]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [6]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [7]:
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [8]:
# changing column names to the names i want
new_cols_dict = {
    'timestamp': 'time',
    'cnt': 'count',
    't1': 'temp_real_C',
    't2': 'temp_feels_like_C',
    'hum': 'humidity_percent',
    'wind_speed': 'wind_speed_in_kph',
    'weather_code': 'weather',
    
}

bikes.rename(new_cols_dict, axis='columns', inplace=True)

In [9]:
bikes.head(3)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_in_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0

In [11]:
# changing the humidity values to percentages (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [12]:
# the dictionary to map season codes(e.g. 0, 1, 2, 3) to names(e.g. spring, winter... .etc)
season_dict = {
 '0.0':'spring',   
 '1.0':'summer',   
 '2.0':'fall',   
 '3.0':'winter',   
}


# the dictionary to map weather codes(e.g. 0, 1, 2, 26...etc) to names(e.g. cloudy, rain... .etc)
weather_dict = {
 '1.0':'clear',   
 '2.0':'Scattered Clouds',   
 '3.0':'Broken Clouds',   
 '4.0':'Cloudy',   
 '7.0':'Rain',   
 '10.0':'rain with thunderstorm',   
 '26.0':'snowfall',   
}

bikes.season = bikes.season.astype('str',)
bikes.season = bikes.season.map(season_dict)

bikes.weather = bikes.weather.astype('str')
bikes.weather = bikes.weather.map(weather_dict)

In [18]:
bikes.head(5)

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_in_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.00930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.00930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.00965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,0.01000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.00930,6.5,clear,0.0,1.0,winter

In [19]:
bikes.iloc[1360:1365]

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_in_kph,weather,is_holiday,is_weekend,season
1360,2015-03-01 18:00:00,563,9.0,5.0,0.00710,31.0,Scattered Clouds,0.0,1.0,spring
1361,2015-03-01 19:00:00,435,7.0,3.0,0.00760,29.0,clear,0.0,1.0,spring
1362,2015-03-01 20:00:00,329,7.0,3.0,0.00760,30.5,Scattered Clouds,0.0,1.0,spring
1363,2015-03-01 21:00:00,239,7.0,3.0,0.00760,26.0,Scattered Clouds,0.0,1.0,spring
1364,2015-03-01 22:00:00,235,6.5,2.5,0.00735,24.0,Scattered Clouds,0.0,1.0,spring

In [21]:
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')